
## What Are Components?

```svelte
<script>
  import BigNumber from './BigNumber.svelte';
  let bar = 42;

  function count() {
    bar += 1;
  }
</script>

<BigNumber foo={bar} />

<button type="button" on:click={count}>Add more!</button>

<style>
  button { padding: 2rem; }
</style>
```