@font-face {
  font-family: 'Norwester Pro';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro'),
       local('NorwesterPro-Regular'),
       url(/font/NorwesterPro-Regular.woff2)
       format('woff2');
}

* {
	box-sizing: border-box;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
	font-size: 24px;
}

body {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	height: 100vh;
	padding: 0.5rem;
	background: no-repeat bottom center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ff3e00' fill-opacity='1' d='M0,128L30,117.3C60,107,120,85,180,74.7C240,64,300,64,360,80C420,96,480,128,540,138.7C600,149,660,139,720,117.3C780,96,840,64,900,80C960,96,1020,160,1080,202.7C1140,245,1200,267,1260,234.7C1320,203,1380,117,1410,74.7L1440,32L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
}

h1, h1 > span {
	text-align: center;
	white-space: nowrap;
	font-family: "Norwester Pro", Rift, monospace;
	font-weight: 400;
	font-size: 3.5rem;
	margin: 0;
	line-height: 1;
}

h2 {
	text-align: center;
	white-space: nowrap;
	font-family: "Norwester Pro", Rift, monospace;
	font-weight: 400;
	font-size: 2rem;
	margin: 0 0 2rem 0;
	line-height: 1;
}

ul {
	list-style-type: none;
}

li {
	padding-left: 1rem;
	position: relative;
}

li + li {
	margin-top: 0.5rem;
}

li:before {
	background-color: hsl(var(--hue), var(--sat), var(--lum));
	border-radius: 50%;
	content: '';
	left: 0;
	height: 0.5rem;
	position: absolute;
	top: 0.375rem;
	width: 0.5rem;
}

.borders {
	border: 2px solid hsl(var(--hue), var(--sat), var(--lum));
	border-radius: 0.5rem;
}

/** CODE **/
pre {
	background-color: hsla(0, 0%, 0%, 0.85);
	border: 0;
	border-radius: 0.25rem;
	color: #fff;
	font-family: "Rec Mono Casual", monospace;
	overflow-x: auto;
	padding: 1rem;
	width: 100%;
}

code {
	background-color: hsla(0, 0%, 0%, 0.2);
	margin: 0 0.5ch;
	padding: 0 0.5ch;
	white-space: nowrap;
	font-family: "Rec Mono Casual", monospace;
}

pre > code {
	margin: 0;
	padding: 0;
	white-space: unset;
	background-color: transparent;
}

.token {
	font-family: "Rec Mono Casual", monospace;
}

.token.language-css,
.token.number {
	color: #9843d9;
}

.token.keyword {
	color: #00c0f3;
}
.token.operator {
	color: #dbe129;
}
.token.string {
	color: #6dd08e;
}
.token.punctuation {
	color: #fff;
}
.token.tag,
.token.selector {
	color: #ec008c;
}

.token.attr-name,
.token.property {
	color: #00c0f3;
}
.token.attr-value {
	color: #6dd08e;
}
